<section id="login" class="father">
  <div class="container" class="child">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <div class="card">
            <div class="card-body text-center">
              <form #formLogin="ngForm" (ngSubmit)="onLogin()">
                <h1 class="h3 mb-3 font-weight-normal" align="center">Login</h1>
                <div class="form-group">
                  <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control" placeholder="User" required>
                </div>
                <div class="form-group">
                  <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                </div>
                <div id="wrapper">
                  <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                </div>
              </form>
              <span>{{mensaje}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
